@page "/symbols-list"
<div class="symbols-list-root">
    @for (int i = 0; i < Symbols.Count; i++)
    {
        var symbol = Symbols[i];
        <div class="symbol">
            <div class="symbol-name">
                @Symbols[i].Id
            </div>
            <div class="prices">
                <button class="symbol-bid @HighLow(symbol.Bid, symbol.PrevBid)" @onclick="Buy">
                    <div>Buy</div>
                    <div>@Symbols[i].Bid.ToString("n5")</div>
                </button>
                <div class="symbol-spread">
                    @Symbols[i].Spread.ToString("F1")
                </div>
                <button class="symbol-ask @HighLow(symbol.Ask, symbol.PrevAsk)" @onclick="Sell">
                    <div>Sell</div>
                    <div>@Symbols[i].Ask.ToString("n5")</div>
                </button>
            </div>
        </div>
    }
</div>